.card-detail{
  background-color: turquoise;
  width: 90%;
  margin: 0 auto;
  height: 450px;

}

.container-detail{
  background-color: violet;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.container-detail-img img {
  width: 150px;
  height: 280px;
  /* background-color: red; */
  max-height: 450px;
  display: block;
  object-fit: cover;
  /* margin: 0 auto; */
}


